.establishment-container{
    width: 100%;
    padding: 20px;
    /* height: 90vh; */
}

.card-holder{
    padding: 20px;
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Estcard img{
    width: 100%;
}

.Estcard h2, .Estcard p{
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Estcard{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 15px;
    margin: 10px;
}

.drawerContent{
    background-color: var(--dl-color-theme-accent3);
    padding: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    flex-direction: column;
}

.item{
    padding: 10px;
    margin: 10px;
}


  @media(max-width:728px){
    .verticleline{
        display: none;
    }
    .card-holder{
        flex-direction: column;
    }
    .Estcard{
        width: 100%;
    }
  }
  